@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right,#1a1355,#530375,#8404D9,#F2A391,#470404)
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #f2050583;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #8404D9;
    text-align: center;
    text-shadow: 1px 1px 2px #2d024994;
    
}

h2{
    color: #F2059F;
}

p {
    text-align: justify;
}